h1{
    text-align: center;
    font-size: 40px;
}

.tipografia2{
    font-family: 'Bebas Neue', cursive;
    color: red;
    text-align: center;
}

.tipografia1{
    font-family: game;
    text-align: center;
    color: blue;
}

@font-face {
    font-family: game;
    src: url("Game of thrones");
}